@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800);
body {
  background: #F7F5F2 !important; }

.header-color {
  background: #3C4C5F; }

.smenu {
  background: #3C4C5F !important;
  color: #fff !important;
  margin: 0 !important;
  padding: 0 !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  margin-bottom: 7px !important; }
  .smenu .item {
    color: #fff !important; }

table {
  border: none !important;
  border: 1px solid rgba(34, 36, 38, 0.1) !important;
  border-radius: 0 !important; }
  table thead {
    background: #FAFAFA !important; }
    table thead tr th {
      border-radius: 0 !important;
      background: #FAFAFA !important; }

#content-search {
  float: right; }

.td-promo {
  max-width: 50px;
  width: 150px; }

.td-img {
  max-width: 50px !important; }

#mainTable_filter {
  display: none; }

.title {
  font-size: 1.4em;
  font-weight: 300;
  color: #333333; }

.info-parent {
  margin-top: 4px; }

#thumbs .pre-img {
  text-align: center !important;
  font-size: 13px;
  color: rgba(34, 36, 38, 0.7); }

#thumbs .item {
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 20px; }
  #thumbs .item .image, #thumbs .item .avatar {
    border-radius: 100% !important; }
  #thumbs .item span {
    color: #333333;
    font-weight: 300;
    font-size: 14px; }
